:root {
  --color1: #54BEFF;
  --color2: #FF5455;
  --color3: #7194AA;
  --color4: #6CA7CC;
  --color5: #504D47;
  --cadastro: #53EA6A;
  --excluir: #F01C00;
  --editar: #F0D826;

}

nav {
  background-color: var(--color4);
  padding: 1em;

}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin-left: 10em;
  margin-right: 10em;
}

nav li {
  list-style-type: none;
}

nav button {
  border: none;
  font-weight: bold;
  color: #fff;
  padding: .2em;
  border-radius: .5em;
  background-color: var(--color3);
}

nav button:hover {
  cursor: pointer;
  background-color: var(--color2);
}

nav img {
  width: 10em;
  height: 8em;
  margin: 0;
}

nav svg {
  font-size: 2em;
  color: #000;
}

nav svg:hover {
  color: var(--color2);
}

nav button {
  background-color: transparent;
}

nav button:hover {
  background-color: transparent;
  color: var(--color2);
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: var(--color2);
}

.navSecondary {
  height: 6em;
  padding: 1em;

}

.navSecondary img {
  width: 6em;
  height: 5em;
}

.menu {
  position: relative;
  right: 2em;

}

.menu a:first-child {
  margin-right: 6em;
}

.dropdownButton {
  position: absolute;
  top: 100%;
  right: 0;
  width: 12em;
  text-align: center;
  background: var(--color1);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0 4px 8px #000;
  z-index: 10;
}

.dropdownButton a {
  display: block;
  margin: .5em;
}

.dropdownButton a:first-child {
  display: block;
  margin: 4px 0
}


.dropdownButton button {
  display: block;
  width: 100%;
}


.cointainer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 75%;
  background-color: var(--color1);
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
  width: 80%;
  padding: 2em;

}

.cardProduto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--color2);
  text-align: center;
  align-items: center;
  padding: .5em;
  width: 20em;
  height: 25em;
  border: 1px solid black;
  border-radius: 1em;
}

.cardProduto h3,
h4,
p {
  font-size: large;
  margin: .2em;
}

.cardProduto h2 {
  color: #fff;
}

.cardProduto img {

  width: 10em;
  height: 10em;
}

.cardProduto button {
  color: #fff;
  border: none;
  width: 50%;
  margin: 0 auto;
  padding: .2em;
  border-radius: .5em;
  background-color: var(--cadastro);
}

.cardProduto button:hover {
  cursor: pointer;
  background-color: var(--color1);
}


.login,
.registerForm,
.clientDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  background-color: var(--color3);
}

.login form,
.registerForm form {
  display: flex;
  height: 30vh;
  flex-direction: column;
}

.login label,
.registerForm label,
.clientDetails label {
  text-align: start;
}

.login select {
  margin: 1em;
  width: 10em;
}

.registerForm section,
.clientDetails section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  background-color: #fff;
  padding: 3em;
  height: 75vh;
  text-align: center;
  text-indent: 1em;
  border-radius: 1em;

}

.clientDetails section {
  height: 90vh;

}

.login section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  background-color: #fff;
  padding: 1em;
  text-align: center;
  text-indent: 1em;
  border-radius: 1em;
}

.login h1,
.registerForm h1,
.clientDetails h1 {
  text-align: center;
}

.login input,
.registerForm input,
.clientDetails input,
.registerForm select {
  margin: 1em;
  width: 80%;
  border-radius: .5em;
  padding: .2em;
}

.login button,
.registerForm button,
.clientDetails button {
  background-color: var(--color3);
  color: #fff;
  margin: 0 auto;
  width: 50%;
  margin-top: 1em;
  border-radius: .5em;
}

.login button:hover,
.registerForm button:hover,
.clientDetails button:hover {
  cursor: pointer;
  background-color: var(--color4);
}

.registerForm table {
  overflow: scroll;
}

.login p,
.registerForm p {
  margin-top: 2em;
}

.login a,
.registerForm a {
  color: var(--color1);
  text-decoration: none;
}

.login a:hover,
.registerForm a:hover {
  color: var(--color4);
}


table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #999;
  padding: 8px 12px;
  text-align: center;
}

th {
  background-color: var(--color1);
  color: #ffffff;
}

th button {
  background-color: var(--color2);
  border: none;
  color: #ffffff;
  border-radius: 0.5em;
  padding: 0.2em;
}

th button:hover {
  cursor: pointer;
  opacity: 0.7;
}

tr button {
  border: none;
  color: #ffffff;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: .5em;
}

tr a {
  text-decoration: none;
  color: #ffffff;
}

tr button:hover {
  cursor: pointer;
  opacity: 0.8;
}

tr button:first-child {
  background-color: var(--cadastro);

}

tr button:nth-child(2) {
  background-color: var(--editar);

}

tr button:nth-child(3) {
  background-color: var(--excluir);

}

#deleteButton  {
  background-color: var(--excluir);
}


.cart {
  padding: 2em;
}

.cart table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid black;
}

.cart td,
.cart th {
  padding: .8em;
}

.cart td button:first-child,
.cart td button:nth-child(2) {
  padding: .5em;

}

.cart td button:first-child {
  background-color: var(--excluir);
}

.cart td button:nth-child(2) {
  background-color: var(--cadastro);
}

#stockIn {
  background-color: var(--color1);
}

.cartTotal {
  font-weight: bold;
}

.cartTotal button:first-child {
  background-color: var(--excluir);
}

.cartTotal button:last-child {
  background-color: var(--cadastro);
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin: 0 auto;
  width: 80%;
  font-size: x-large;
}

.emptyCart a,
.emptyCart p {
  font-size: x-large;
}

.emptyCart a {
  color: var(--color4);
}

.buttonCartDecrease {
  background-color: var(--excluir);
}

.pagination {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: var(--color2);
}

.pagination span {
  font-weight: 500;
}

.error {
  color: var(--excluir);
}

.error400 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: xx-large;
}

.error400 a {
  font-size: x-large;
  color: var(--color4);
}


.error400 a:hover,
.emptyCart a:hover {
  color: var(--color2);
}